<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Owner ID</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td>  <%= contact.user_id %><br /></td>
        <td>  <%= contact.firstName %><br /></td>
        <td>  <%= contact.middleName %><br /></td>
        <td>  <%= contact.lastName %><br /></td>
        <td>  <%= contact.email %><br /></td>
        <td>  <%= contact.phoneNumber %><br /></td>

        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
